body{
    background-color: #f0f7f6;
}

.class1{
    background-color: #364fdd;
    color: white;
    text-align: center;
}

a{
    color: white;
    text-align: center;
}

h2{
    color: #364fdd;
}

img{
    margin: 20px;
    border-radius: 15px;
}

#para{
    margin-bottom: 400px;
}

input{
    padding: 5px;
}


.button{
    background-color: #364fdd;
    color: white;
}

#messagee{
    padding: 10px 175px 10px 175px;
}


#register{
    padding: 10px 195px 10px 195px;
}

#login{
    padding: 10px 202px 10px 202px;
}

